.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 800px;
}

.modal h3 {
  margin-top: 0;
  color: #34495e;
  padding: 9px;
  font-size: 20px;
}

.modal input, .modal select {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 7px;
  background-color: #515151;
  border: 1px solid #ccc;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #2c3e50;
  padding: 8px;   
}

.column {
  float: left;
  width: 50%;
  padding-left: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.checkbox-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas como tu imagen */
  gap: 16px 40px;
}

.checkbox-item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 15px;
}

.checkbox-item input {
  cursor: pointer;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
  color:#2980b9;
}
.button {
  background: #3498db;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
}
.error {
  color: red;
  margin-bottom: 15px;
}