.modal-overlay {
  position: fixed;
  inset: 0;  /* reemplaza top/left/right/bottom */
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px; /* importante */
  z-index: 1000;
}

.modal {
  background: white;
  padding: 35px;
  border-radius: 14px;

  width: 95% !important;  /* asegura que el modal use todo el ancho disponible */
  max-width: 1000px;   /* controla el ancho real */
  
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.modal h3 {
  margin-top: 0;
  color: #34495e;
  padding: 9px;
  font-size: 20px;
}

.modal input,
.modal select {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background-color: #f9fafb;
  font-size: 13px;
  transition: all 0.2s ease;
  color: #1f2937;
}

.modal input:focus,
.modal select:focus {
  outline: none;
  border-color: #2563eb;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.15);
}

.form-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #2c3e50;
  padding: 8px;   
}

.row {
  display: flex;
  gap: 30px;
}

.column {
  flex: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.checkbox-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px 30px;
  margin-top: 8px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  cursor: pointer;
}

.checkbox-group input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.checkbox-item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 15px;
}

.checkbox-item input {
  cursor: pointer;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 25px;
}

.modal-actions button {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
}

/* Botón Crear */
.modal-actions button[type="submit"] {
  background: #2563eb;
  color: white;
}

.modal-actions button[type="submit"]:hover {
  background: #1d4ed8;
}

/* Botón Cancelar */
.modal-actions button[type="button"] {
  background: #e5e7eb;
  color: #374151;
}

.modal-actions button[type="button"]:hover {
  background: #d1d5db;
}

.error {
  color: red;
  margin-bottom: 15px;
}